body {
  font-family: 'Arial';
}

.ember-power-select-trigger {
  width: 200px;
  float: left;
}

.select-options {
  float: left;
  margin-right: 20px;
}

.select-options label {
  display: block;
  margin-bottom: 10px;
}
